.step-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 50px;
    padding: 50px;

    // border: 1px solid #dadada;
    // border-radius: 8px;

    width: 800px;
}

.step-header {
    font-size: xx-large;
    padding-bottom: 20px;
}

.connection-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    li {
        font-size: larger;
        list-style: decimal;
        padding-bottom: 20px;
    }

    .step-dev-id {
        padding: 5px;
        margin-bottom: 20px;
        border: 1px solid #dadada;
        border-radius: 8px;
        width: 300px;
    }
}

.step-btn {
    margin: 5px;
    margin: 20px;
    padding: 5px 40px;
    border: 1px solid #dadada;
    border-radius: 8px;
    // width: 100px;

    &:hover {
        background: rgb(235, 235, 235);
        cursor: pointer;
    }
}

.verify-btn {
    margin: 5px;
    margin: 20px;
    padding: 5px 50px;
    // border: 1px solid #dadada;
    border-radius: 8px;
    background-color: #1eabf9;
    color: #fff;

    &:hover {
        background: rgb(39, 127, 205);
        cursor: pointer;
    }
}